.bookCard{
    background-color: white;
    color: #333;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 25%;
    min-height: 200px;
}

.bookCard button{
    margin-top: 1rem;
}