form {
    text-align: center;
    width: 350px;
    margin: 0 auto;
  }
  
  form input {
    display: block;
    width: 350px;
    margin: 1rem 0;
  }
  
  button[type="submit"] {
    width: 382px;
    margin: 0;
  }