#root {
  width: 100vw;
}

header{
  height: 55px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul li{
  display: inline-block;
  padding: 1rem;
}

footer{
  height: 50px;
  background-color: #333;
}
main{
  min-height: calc(100vh - 135px);
}

main h1{
  padding: 2rem;
}
.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.box{
  background-color: white;
  color: #333;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  width: 25%
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

