h1{
  justify-content: flex;
  text-align: center;
}

body{
  background-color: aliceblue;
  color: black;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

